html {
  font-family: consolas;
}

body {
  width: calc(50%);
  margin: 84px auto;
  padding: 40;
  border: 5px solid #000000;
}

p {
  font-size: 17;
  line-height: 2;
  text-align: center;
}

h1 {
  text-align: center;
}

a {
  color: #000000;
}

a:hover {
  color: #7f7f7f;
}
